body {
    background-color: #353856;
}

.main-container {
    display: flex;
    justify-items: center;
    /* border: solid blue; */
}

.traffic-light {
    width: 150px;
    height: 400px;
    background-color: rgb(32, 28, 28);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    margin-top: 8%;
}

.light {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background-color: green;
    margin: 0 auto;
    cursor: url('../img/rigo-baby119x101.jpg'), grab;
}

.lit {
    box-shadow: 0 0 40px 20px yellow;
}

.red {
    background-color: red;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin: 0 auto;
}

.yellow {
    background-color: yellow;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin: 0 auto;
    
}

.green {
    background-color: green;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin: 0 auto;
}